.about {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  box-shadow: inset 0px 0px 4rem var(--bg-green-transparent),
    0px 0px 4rem var(--bg-green-transparent);
  background: var(--bg-green-secondary);
}

@media screen and (min-width: 36.5em) {
  .about {
    width: 40rem;
    height: 40rem;
  }
}

@media screen and (min-width: 76em) {
  .about {
    width: 55rem;
    height: 55rem;
  }
}
