@import url('../Root/keyframes.css');

.about__img {
  position: absolute;
  height: 28rem;
  width: 28rem;
  object-fit: cover;
  border-radius: 50%;
}

.info,
.name,
.focus,
.back-end,
.other,
.location,
.testing,
.front-end {
  position: absolute;
  z-index: 2;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: inset 0 0 2rem var(--bg-red-transparent),
    0 0 4rem var(--bg-red-transparent);
  transition: all 1s 1.5s ease-out, transform 1s ease-out,
    background 1s 1.5s ease-out, outline 0.5s 2.5s ease;
}

.info {
  top: 10%;
  left: 0;
}

.name {
  top: -13%;
  left: 50%;
  transform: translateX(-50%);
}

.focus {
  top: 10%;
  right: 0;
}

.back-end {
  top: 50%;
  right: -13%;
  transform: translateY(-50%);
}

.other {
  bottom: 10%;
  right: 0;
}

.location {
  left: 46%;
  bottom: -13%;
}

.testing {
  bottom: 10%;
  left: 0;
}

.front-end {
  top: 50%;
  left: -13%;
  transform: translateY(-50%);
}

.info--open,
.name--open,
.focus--open,
.back-end--open,
.other--open,
.location--open,
.testing--open,
.front-end--open {
  transform: scale(9.4);
  border-radius: 50%;
  background: var(--bg-colour-primary);
  outline: none;
  box-shadow: inset 0px 0px 2px var(--bg-green-transparent);
  transition: all 1s ease-out, transform 1s 1.5s ease-out,
    background 1s ease-out, outline 1s 1.5s ease-out;
}

.info--open,
.name--open,
.front-end--open {
  top: 45.5%;
  left: 45.2%;
}

.focus--open,
.back-end--open {
  top: 45.5%;
  right: 45.2%;
}

.other--open {
  bottom: 44.5%;
  right: 45.2%;
}

.location--open,
.testing--open {
  bottom: 44.2%;
  left: 45.2%;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  font-size: 2rem;
  list-style: none;
  pointer-events: none;
}

.description__header {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  text-transform: capitalize;
}

.description__text {
  color: var(--text-secondary);
  font-size: 1.36rem;
}

.info--open + .description,
.name--open + .description,
.focus--open + .description,
.back-end--open + .description,
.other--open + .description,
.location--open + .description,
.testing--open + .description,
.front-end--open + .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s 2.2s;
}

@media screen and (min-width: 36.5em) {
  .about__img {
    height: 40rem;
    width: 40rem;
  }

  .info,
  .name,
  .focus,
  .back-end,
  .other,
  .location,
  .testing,
  .front-end {
    height: 3.5rem;
    width: 3.5rem;
  }

  .info--open,
  .name--open,
  .focus--open,
  .back-end--open,
  .other--open,
  .location--open,
  .testing--open,
  .front-end--open {
    transform: scale(11.6);
  }

  .description__header {
    font-size: 2.7rem;
  }

  .description__text {
    font-size: 1.95rem;
    line-height: 2.2rem;
  }
}

@media screen and (min-width: 76em) {
  .about__img {
    height: 55rem;
    width: 55rem;
  }

  .info,
  .name,
  .focus,
  .back-end,
  .other,
  .location,
  .testing,
  .front-end {
    height: 4rem;
    width: 4rem;
  }

  .info {
    left: 0;
  }

  .name {
    top: -13%;
  }

  .focus {
    right: 0;
  }

  .back-end {
    right: -13%;
  }

  .other {
    right: 0;
  }

  .location {
    bottom: -13%;
  }

  .testing {
    left: 0;
  }

  .front-end {
    left: -13%;
  }

  .info--open,
  .name--open,
  .focus--open,
  .back-end--open,
  .other--open,
  .location--open,
  .testing--open,
  .front-end--open {
    transform: scale(14);
  }

  .info--open,
  .name--open,
  .front-end--open {
    top: 46.5%;
    left: 46.5%;
  }

  .focus--open,
  .back-end--open {
    top: 46.5%;
    right: 46.5%;
  }

  .other--open {
    bottom: 46%;
    right: 46%;
  }

  .location--open,
  .testing--open {
    bottom: 46.5%;
    left: 46.5%;
  }

  .description__header {
    margin-bottom: 3rem;
    font-size: 3.5rem;
  }

  .description__text {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .info--open + .description,
  .name--open + .description,
  .focus--open + .description,
  .back-end--open + .description,
  .other--open + .description,
  .location--open + .description,
  .testing--open + .description,
  .front-end--open + .description {
    line-height: 3.5rem;
  }
}
