@import url('../Root/keyframes.css');

.scanner__container {
  display: none;
}

@media screen and (min-width: 76em) {
  .scanner__container {
    display: block;
    position: relative;
    width: 55rem;
    height: 55rem;
  }

  .about__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .scanner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    background: rgba(255, 255, 255, 0.15);
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    border-radius: 0.5rem;
    animation: scan 8s 1s 2 alternate;
  }

  .forehead,
  .nose,
  .cheeks,
  .chin {
    position: absolute;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45.5%;
    height: 5rem;
  }

  .forehead {
    justify-content: space-around;
  }

  .nose {
    top: 25rem;
  }

  .cheeks {
    top: 33rem;
    padding: 0 2rem;
  }

  .chin {
    top: 42rem;
    justify-content: center;
  }

  .dot {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--text-red);
    border-radius: 50%;
    opacity: 1;
    animation: showTarget 1.5s backwards;
  }

  .forehead .dot {
    animation-delay: 2s;
  }

  .nose .dot {
    animation-delay: 3.5s;
  }

  .cheeks .dot {
    animation-delay: 5s;
  }

  .chin .dot {
    animation-delay: 6.5s;
  }

  .nose .dot:nth-child(2) {
    margin: 4rem 0.5rem 0 0;
  }
}
