@import url('../Root/keyframes.css');

.scanner__container {
  display: none;
}

@media screen and (min-width: 76em) {
  .scanner__container {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 55rem;
    height: 55rem;
  }

  .about__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .scanner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    opacity: 0;
    background: var(--scanner);
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    border-radius: 0.5rem;
    animation: scan 6s 1s;
  }

  .name,
  .location,
  .info,
  .focus {
    position: absolute;
  }

  .name {
    top: 5%;
    left: 20%;
  }

  .location {
    bottom: 5%;
    right: 10%;
  }

  .info {
    top: 42%;
    right: 37%;
  }

  .focus {
    bottom: 15%;
    left: 28%;
  }

  .dot {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 1;
    border-radius: 50%;
    outline: 2px solid var(--bg-red-transparent);
    outline-offset: 3px;
    background: var(--bg-red-transparent);
    cursor: pointer;
    transition: 0.4s;
    transition-delay: 0.8s;
    animation: showTarget 1.5s 7.2s backwards;
  }

  .dot:hover {
    background: var(--bg-green-transparent);
    outline: 2px solid var(--bg-green-transparent);
    outline-offset: 5px;
    transition: 0.2s;
  }

  .dot::before,
  .dot::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2rem;
    background-color: var(--bg-green-transparent);
    transition: width 0.5s ease-in-out;
  }

  .dot::before {
    transition-delay: 0.4s;
  }

  .dot:hover::before {
    width: 3rem;
    transition-delay: 0s;
  }

  .dot:hover::after {
    width: 5rem;
    transition-delay: 0.4s;
  }

  .name .dot::before {
    top: -0.5rem;
    right: 2.2rem;
    transform: rotateZ(45deg);
    transform-origin: bottom right;
  }

  .name .dot::after {
    top: -2.6rem;
    right: 4.26rem;
  }

  .location .dot::before {
    top: -0.5rem;
    left: 2.2rem;
    transform: rotateZ(-45deg);
    transform-origin: bottom left;
  }

  .location .dot::after {
    top: -2.6rem;
    left: 4.26rem;
  }

  .info .dot::before {
    top: 0.5rem;
    left: 2.4rem;
  }

  .info .dot::after {
    bottom: 0.8rem;
    left: 5.4rem;
    transform: rotateZ(-90deg);
    transform-origin: left;
  }

  .focus .dot::before {
    top: 0.5rem;
    right: 2.4rem;
  }

  .focus .dot::after {
    top: 0.5rem;
    left: -3.9rem;
    transform: rotateZ(-90deg);
    transform-origin: left;
  }

  .description {
    padding: 2rem;
    opacity: 0;
    font-size: 2.3rem;
    font-family: 'Fredoka', sans-serif;
    color: var(--text-secondary);
    border: 2px solid var(--bg-green-transparent);
    border-radius: 0.5rem;
    background: var(--bg-colour-ternary);
  }

  .dot:hover ~ .description {
    opacity: 1;
    transition: opacity 0.2s;
    transition-delay: 0.8s;
  }

  .name .description {
    position: absolute;
    top: -4rem;
    left: -32.5rem;
  }

  .location .description {
    position: absolute;
    bottom: -1rem;
    right: -28rem;
  }

  .info .description {
    position: absolute;
    bottom: 5rem;
    right: -32.5rem;
  }

  .focus .description {
    position: absolute;
    bottom: 5.5rem;
    left: -30rem;
  }
}
