@import url('../Root/base.css');

.header {
  margin-left: 3%;
}

.intro__header {
  font-size: 3.5rem;
}

.intro__header--letter {
  color: var(--text-red);
}

.intro__sub-header {
  margin: 1rem 0 0 0.2rem;
  font-size: 1.88rem;
  color: var(--text-secondary);
}

@media screen and (min-width: 36.5em) {
  .intro__header {
    font-size: 5.5rem;
  }

  .intro__sub-header {
    margin: 1rem 0 0 0.2rem;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 76em) {
  .header {
    margin-left: 15%;
  }

  .intro__header {
    font-size: 10rem;
    font-weight: 600;
    line-height: 100%;
  }

  .intro__sub-header {
    margin: 3rem 0 0 0.75rem;
    font-size: 3.3rem;
  }

  .intro__sub-header--slash {
    font-size: 2.8rem;
  }
}
