:root {
  --bg-colour-primary: #212121;
  --bg-colour-secondary: #1d1c1c;
  --bg-colour-ternary: #080808;
  --bg-white-transparent: rgba(255, 255, 255, 0.6);
  --border: #b1acac;
  --text-primary: #dad6d6;
  --text-secondary: #b4aeae;
  --text-red: #cc3b3b;
}
