:root {
  --bg-colour-primary: #000;
  --bg-colour-secondary: #1d1c1c;
  --bg-colour-ternary: #130f0f;
  --bg-white-transparent: rgba(255, 255, 255, 0.6);
  --bg-red-transparent: rgba(217, 38, 47, 0.6);
  --bg-green-transparent: rgba(8, 253, 253, 0.6);
  --text-primary: #dad6d6;
  --text-secondary: #b4aeae;
  --text-red: #cc3b3b;
}
