/* LOADER */
@keyframes slidePage {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* LOGO */
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/* SCANNER */
@keyframes scan {
  0% {
    width: 0;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(0);
  }

  20% {
    width: 100%;
    left: 0;
    transform: translateX(0);
    transform: translateY(0);
  }

  80% {
    width: 100%;
    left: 0;
    transform: translateY(50rem);
  }

  99% {
    width: 0;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(50rem);
  }

  100% {
    width: 0;
    opacity: 0;
    transform: translateY(50rem);
  }
}

/* DOTS/TARGETS */
@keyframes showTarget {
  0%,
  4% {
    opacity: 0;
  }
  2%,
  10% {
    opacity: 1;
  }
}
