/* LOADER */
@keyframes slidePage {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* LOGO */
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}
