.form__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 3rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.contact__label,
.contact__textarea,
.contact__send {
  width: inherit;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.contact__input,
.contact__textarea,
.contact__send {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1.8rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--text-secondary);
  background: var(--bg-colour-secondary);
}

.contact__input {
  margin-top: 0.5rem;
  width: 100%;
}

.contact__input::-webkit-outer-spin-button,
.contact__input::-webkit-inner-spin-button {
  appearance: none;
}

.contact__textarea {
  height: 20rem;
  resize: none;
}

.contact__send {
  padding: 2rem;
}

.contact__input:focus,
.contact__textarea:focus,
.contact__send:focus,
.contact__input:hover,
.contact__textarea:hover,
.contact__send:hover {
  outline: none;
  box-shadow: inset 0 0 2rem var(--bg-green-transparent);
}

@media screen and (min-width: 76em) {
  .form__section {
    position: absolute;
    height: 100vh;
    width: 65rem;
    margin-left: 5%;
  }

  .contact__label,
  .contact__textarea,
  .contact__send {
    font-size: 2.5rem;
  }

  .contact__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact__input,
  .contact__textarea,
  .contact__send {
    font-size: 2rem;
  }

  .contact__input {
    width: 65%;
  }
}
