.contact__social {
  text-align: center;
}

.contact__social--icon {
  font-size: 3rem;
  color: var(--bg-green-transparent);
}

.contact__social--icon:not(:last-of-type) {
  margin-right: 2rem;
}

.contact__info {
  margin-top: 1rem;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: var(--text-secondary);
}

@media screen and (min-width: 76em) {
  .contact__social--icon {
    font-size: 3.5rem;
  }

  .contact__info {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
