@import url('../Root/keyframes.css');

.projects {
  position: relative;
  width: 25rem;
  margin: -40rem auto 0 auto;
  perspective: 100rem;
  perspective-origin: 50% -20rem;
}

.projects__list {
  position: absolute;
  width: 100%;
  height: 100%;
  list-style: none;
  transform-style: preserve-3d;
  transition: 2s ease-out;
}

.project {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: inset 0 0 4rem var(--bg-green-transparent),
    0 0 4rem var(--bg-green-transparent);
  background-color: var(--bg-colour-primary);
  opacity: 0.8;
  transition: transform 1s 0.3s, opacity 0.5s;
  will-change: transform;
}

.project1 {
  transform: rotateY(0deg) translateZ(40rem);
}

.project2 {
  transform: rotateY(40deg) translateZ(40rem);
}

.project3 {
  transform: rotateY(80deg) translateZ(40rem);
}

.project4 {
  transform: rotateY(120deg) translateZ(40rem);
}

.project5 {
  transform: rotateY(160deg) translateZ(40rem);
}

.project6 {
  transform: rotateY(200deg) translateZ(40rem);
}

.project7 {
  transform: rotateY(240deg) translateZ(40rem);
}

.project8 {
  transform: rotateY(280deg) translateZ(40rem);
}

.project9 {
  transform: rotateY(320deg) translateZ(40rem);
}

.project1--open,
.project2--open,
.project3--open,
.project4--open,
.project5--open,
.project6--open,
.project7--open,
.project8--open,
.project9--open {
  position: absolute;
  opacity: 1;
  transition: transform 1s 0.3s, opacity 0.5s 0.5s;
}

.project1--open {
  transform: rotateY(0deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project2--open {
  transform: rotateY(40deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project3--open {
  transform: rotateY(80deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project4--open {
  transform: rotateY(120deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project5--open {
  transform: rotateY(160deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project6--open {
  transform: rotateY(200deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project7--open {
  transform: rotateY(240deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project8--open {
  transform: rotateY(280deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}

.project9--open {
  transform: rotateY(320deg) translateZ(40rem) translateY(-10.5rem) scale(1.5);
}
