.sliderBtns {
  position: absolute;
  top: 25rem;
  right: 0;
  display: flex;
}

.sliderBtn {
  padding: 2rem 2rem;
  background: transparent;
  color: var(--text-secondary);
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  box-shadow: inset 0 0 3rem var(--bg-green-transparent),
    0 0 3rem var(--bg-green-transparent);
  opacity: 0.8;
  transition: opacity 0.2s;
}

.sliderBtn:first-child {
  margin-right: 1rem;
}

.sliderBtn--icon {
  color: var(--bg-green-transparent);
  pointer-events: none;
}

@media screen and (min-width: 36.5em) {
  .sliderBtns {
    top: 50rem;
    right: -0.5rem;
  }

  .sliderBtn {
    padding: 3rem 3rem;
    font-size: 2rem;
  }

  .sliderBtn:first-child {
    margin-right: 3rem;
  }
}

@media screen and (min-width: 76em) {
  .sliderBtns {
    top: 50rem;
    right: -80rem;
  }

  .sliderBtn {
    padding: 4rem 4rem;
    font-size: 2rem;
  }
}
