@import url('../Root/base.css');

.hamburger__container {
  display: flex;
  justify-content: end;
  margin: 0 -5.5rem 3rem 0;
  padding: 1.5rem;
  background: var(--bg-colour-secondary);
  border-radius: 0.3rem;
  cursor: pointer;
}
