@import url('../Root/base.css');

.logo--container {
  perspective: 80rem;
  perspective-origin: 50% 22.5rem;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.shape {
  position: relative;
  top: 30%;
  margin: 0 auto;
  height: 12.6rem;
  width: 12.6rem;
  transition: 1.5s;
  transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

.shape--loading {
  margin: 0 auto;
  height: 20rem;
  width: 20rem;
  transition: 1.5s;
  transform-style: preserve-3d;
  animation: spin 1s infinite linear;
}

.plane {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 1.2rem;
  background: var(--bg-white-transparent);
  transition: transform 2s, opacity 2s;
  backface-visibility: hidden;
}

.plane img {
  height: 100%;
  width: 100%;
}

.shape.backfaces .plane {
  backface-visibility: visible;
}

.shape--loading.backfaces .plane {
  backface-visibility: visible;
}

.cube > .one {
  opacity: 0.5;
  transform: scale3d(0.6, 0.6, 0.6) rotateX(90deg) translateZ(10rem);
}

.cube > .two {
  opacity: 0.5;
  transform: scale3d(0.6, 0.6, 0.6) translateZ(10rem);
}

.cube > .three {
  opacity: 0.5;
  transform: scale3d(0.6, 0.6, 0.6) rotateY(90deg) translateZ(10rem);
}

.cube > .four {
  opacity: 0.5;
  transform: scale3d(0.6, 0.6, 0.6) rotateY(180deg) translateZ(10rem);
}

.cube > .five {
  opacity: 0.5;
  transform: scale3d(0.6, 0.6, 0.6) rotateY(-90deg) translateZ(10rem);
}

.cube > .six {
  opacity: 0.5;
  transform: scale3d(0.6, 0.6, 0.6) rotateX(-90deg) translateZ(10rem)
    rotate(180deg);
}

.cube > .seven {
  transform: scale3d(0.4, 0.4, 0.4) rotateX(90deg) translateZ(10rem)
    rotate(180deg);
}

.cube > .eight {
  transform: scale3d(0.4, 0.4, 0.4) translateZ(10rem);
}

.cube > .nine {
  transform: scale3d(0.4, 0.4, 0.4) rotateY(90deg) translateZ(10rem);
}

.cube > .ten {
  transform: scale3d(0.4, 0.4, 0.4) rotateY(180deg) translateZ(10rem);
}

.cube > .eleven {
  transform: scale3d(0.4, 0.4, 0.4) rotateY(-90deg) translateZ(10rem);
}

.cube > .twelve {
  transform: scale3d(0.4, 0.4, 0.4) rotateX(-90deg) translateZ(10rem);
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}
