@import url('../Root/base.css');

.menu {
  margin-top: 10rem;
  list-style: none;
  border-top: 1px solid var(--border);
  transition: animation 1s;
  animation: slideLeft 0.5s ease-out;
}

.menu__item {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 3rem 0;

  border-bottom: 1px solid var(--border);
  cursor: pointer;
}

.menu__link {
  font-size: 2.2rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.5s;
}

.menu__item:hover .menu__link {
  color: var(--text-red);
  transition: color 0.5s;
}
