@import url('../Root/base.css');

.nav {
  position: absolute;
  height: 100%;
  width: calc(100% - 5.5rem);
  background: var(--bg-colour-secondary);
  transition: 0.5s;
}

.hideNav {
  width: 0;
  transition: 0.5s;
}

@media screen and (min-width: 76em) {
  .nav {
    width: 13%;
  }

  .hideNav {
    width: 0;
    transition: 0.5s;
  }
}
