.cursor1,
.cursor2 {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  box-shadow: inset 0px 0px 2rem var(--bg-green-transparent);
  will-change: width, height, transform, border;
  pointer-events: none;
}

.cursor2 {
  width: 4rem;
  height: 4rem;
  transition: 1s ease;
  box-shadow: inset 0px 0px 1rem var(--bg-green-transparent);
}

.cursor--open,
.cursor--close,
.cursor--select,
.cursor--next,
.cursor--previous,
.cursor--send {
  box-shadow: inset 0px 0px 2rem var(--bg-red-transparent);
}

.cursor--select:last-of-type::after,
.cursor--open:last-of-type::after,
.cursor--close:last-of-type::after,
.cursor--next:last-of-type::after,
.cursor--previous:last-of-type::after,
.cursor--send:last-of-type::after {
  position: absolute;
  bottom: -2rem;
  left: 0;
  font-size: 1.5rem;
  color: var(--bg-red-transparent);
}

.cursor--select:last-of-type::after {
  content: 'select';
}

.cursor--open:last-of-type::after {
  content: 'open';
  left: 0.1rem;
}

.cursor--close:last-of-type::after {
  content: 'close';
  left: 0.1rem;
}

.cursor--next:last-of-type::after {
  content: 'next';
  left: 0.5rem;
}
.cursor--previous:last-of-type::after {
  content: 'previous';
  left: -1.1rem;
}

.cursor--send:last-of-type::after {
  content: 'send';
  left: 0.1rem;
}
