@import url('./Root/keyframes.css');

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 13%;
  background: var(--bg-colour-ternary);
  animation: slidePage 1.4s 2 alternate backwards;
}

.loader__text {
  font-size: 5rem;
}
